<!-- Caso 9: Mostrar tablas CrearPromoción - Marketing -->
{% extends './layout.html' %}

{%block title%} {{"Pizzeria Ave Phoenix"}} {%endblock%}

{%block body%}
<h1>Mostrar tablas</h1>
<form action="/mostrar_tabla" method="post">
    <input type="hidden" id="tabla_mostrar" name="tabla_mostrar" value="CreaPromocion">
    <button type="submit">Mostrar</button>
</form>
<button id = "Vuelta" onclick="volver()">Volver</button>
<script>
    function volver(){
        window.location.href = 'http://127.0.0.1:5000';
    }
</script>
{%endblock%}