{% extends './layout.html' %}

{%block title%} {{"Pizzeria Ave Phoenix"}} {%endblock%}

{%block body%}
<h1>Mostrar tablas</h1>
<form action="/mostrar_tabla" method="post">
    <select id="tabla_mostrar" name = "tabla_mostrar" required>
        <option value="" disabled selected>Seleccione la tabla a mostrar</option>
        <option value="RecibeSueldo">RecibeSueldo</option>
        <option value="EmpleadoRecibe">EmpleadoRecibe</option>
        <option value="CrearPromocion">CrearPromocion</option>
        <option value="ClienteRealizaPedido">ClienteRealizaPedido</option>
        <option value="ProduceVenta">ProduceVenta</option>
        <option value="EsUnGasto">EsUnGasto</option>
        <option value="ProveedorProvoca">ProveedorProvoca</option>
        <option value="GestionaPedido">GestionaPedido</option>
    </select><br><br>
    <button type="submit">Mostrar</button>
</form>
<button id = "Vuelta" onclick="volver()">Volver</button>
<script>
    function volver(){
        window.location.href = 'http://127.0.0.1:5000';
    }
</script>
{%endblock%}