{% extends './layout.html' %}

{%block title%} {{"Pizzeria Ave Phoenix"}} {%endblock%}
{%block body%}

<h1>Insercion de tuplas</h1><br><br>
<h2>RecibeSueldo</h2>
    <form action="/recibe-sueldo" method="post">
        <!--DNI, IDSUELDO (CP), IBAN, cantidad, fecha-->
        <label for="dni">DNI Trabajador: </label>
        <input type="text" name="DNI_Trab" id="DNI_Trab"><br>
        <label for="iban">IBAN: </label>
        <input type="text" name="IBAN" id="IBAN"><br>
        <label for="salario">Salario: </label>
        <input type="text" name="Salario" id="Salario"><br><br>
        <label for="fecha-pago">Fecha pago: </label>
        <input type="date" name="fecha-pago" id="fecha-pago"><br>
        <button type="submit">Enviar</button>
    </form>
{%endblock%}