{% extends './layout.html' %}

{%block title%} {{"Pizzeria Ave Phoenix"}} {%endblock%}
{%block body%}

<h1>Insercion de tuplas</h1><br><br>
<h2>EsUnGasto</h2>
<div class="form-container">
    <form action="/es-un-Gasto" method="post">
        <!--IDSueldo, idMovimiento(CP), DineroGastado, CantidadProducto, Frecuencia-->
        <label for="gastado">Dinero gastado:</label>
        <input type="text" id="Din_Gastado" name="Din_Gastado" required><br>
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="Cantidad_Prod" name = "Cantidad_Prod" required><br>
        <label for="Frecuencia">Frecuencia:</label>
        <select id="Frecuencia" name = "Frecuencia" required>
            <option value="" disabled selected>Seleccione frecuencia</option>
            <option value="Diaria">Diaria</option><br>
            <option value="Semanal">Semanal</option><br>
            <option value="Mensual">Mensual</option><br>
            <option value="Bienal">Bienal</option><br>
            <option value="Anual">Anual</option><br>
        <button type="submit">Enviar</button>
    </form>
{%endblock%}