<!-- Caso 7: Insertar tuplas CrearPromoción - Marketing --> 

{% extends './layout.html' %}

{%block title%} {{"Pizzeria Ave Phoenix"}} {%endblock%}
{%block body%}

<h1>Insercion de tuplas</h1><br><br>
<h2>CrearPromoción</h2>
    <form action="/insertarPromocion" method="post">
        <!--Código (CP), Tipo, Productos, Nombre, Fecha_inicio, Fecha_fin-->
        <label for="idPromocion">ID Promoción: </label>
        <input type="text" name="idPromocion" id="idPromocion"><br>
        
        <label for="Tipo">Tipo: </label>
        <input type="text" name="Tipo" id="Tipo"><br><br>

        <label for="productos">Productos: </label>
        <input type="text" name="Productos" id="Productos"><br><br>    
        
        <label for="nombre">Nombre: </label>
        <input type="text" name="Nombre" id="Nombre"><br><br>
        
        <label for="F_ini">Fecha inicio: </label>
        <input type="date" name="F_ini" id="F_ini"><br>

        <label for="F_fin">Fecha fin: </label>
        <input type="date" name="F_fin" id="F_fin"><br>

        <button type="submit">Enviar</button>
    </form>
{%endblock%}