{% extends './layout.html' %}

{%block title%} {{"Pizzeria Ave Phoenix"}} {%endblock%}

{%block body%}
<h1>Insercion de tuplas</h1>
<form action="/insertarPedido" method="post">
    <label for="usuario">Nombre de usuario:</label>
    <input type="text" id="usuario" name="usuario" required><br><br>

    <label for="email">E-mail:</label>
    <input type="text" id="email" name="email" required><br><br>

    <label for="telefono">Telefono:</label>
    <input type="text" id="telefono" name="telefono" required><br><br>

    <label for="Direccion">Direccion:</label>
    <input type="text" id="direccion" name = "direccion" required><br><br>

    <label for ="idCliente">DNI del cliente:</label>
    <input type="text" id="idCliente" name = "idCliente" required><br><br>

    <label for ="idPedido">DNI del trabajador:</label>
    <input type="text" id="idPedido" name = "idPedido" required><br><br>

    <label for ="ingredientes">Ingredientes extra:</label>
    <input type="text" id="ingredientes" name = "ingredientes" required><br><br>

    <label for ="idMovimiento">id del movimiento:</label>
    <input type="text" id="idMovimiento" name = "idMovimiento" required><br><br>

    <label for ="nombreCliente">nombre del cliente:</label>
    <input type="text" id="nombreCliente" name = "nombreCliente" required><br><br>

    <label for ="apellidosCliente">apellidos cliente:</label>
    <input type="text" id="apellidosCliente" name = "apellidosCliente" required><br><br>

    <label for ="vip">vip:</label>
    <input type="text" id="vip" name = "vip" required><br><br>

    <label for="Tipo">Tipo:</label>
    <select id="tipo" name = "tipo" required>
        <option value="" disabled selected>Seleccione el tipo de pizza</option>
        <option value="Margharita">Margharita</option>
        <option value="Prosciutto">Prosciutto</option>
        <option value="Pepperoni">Pepperoni</option>
        <option value="Rucula">Rucula</option>
        <option value="Hawaiana">Hawaiana</option>
        <option value="Marinera">Marinera</option>
    </select><br><br>

<label for="hora_recogida">Hora de recogida:</label>
    <input type="datetime-local" id="hora_recogida" name="hora_recogida" required><br><br>

    <button type="submit">Enviar</button>

</form>
{%endblock%}