{% extends './layout.html' %}

{%block title%} {{"Pizzeria Ave Phoenix"}} {%endblock%}

{%block body%}
<h1>Elija la acción a realizar</h1><br>
<div class = "botones">
    <button id = "boton1" onclick="caso10()"><b>Insertar una tupla</b></button><br>
    <button id = "boton2" onclick="caso11()"><b>Eliminar una tupla</b></button><br>
    <button id = "boton3" onclick="caso12()"><b>Mostrar tablas</b></button><br>
</div>

<script>
    function caso10(){
        window.location.href = 'caso10.html';
    }
    function caso11(){
        window.location.href = 'caso11.html';
    }
    function caso12(){
        window.location.href = 'caso12.html';
    }
</script>
{%endblock%}