{% extends './layout.html' %}

{%block title%} Pizzeria Ave Phoenix {%endblock%}

{%block body%}
<h1>Elija la acción a realizar</h1><br>

<div class = "Subsistemas">
    <button id = "Marketing" onclick="Mark()"><b>Marketing</b></button><br>
    <button id = "Produccion" onclick="Prod()"><b>Produccion</b></button><br>
    <button id = "Contabilidad" onclick="Cont()"><b>Contabilidad</b></button><br>
    <button id = "RRHH" onclick="RRHH()"><b>RRHH</b></button><br>
</div>



<script>
    function Mark(){
        window.location.href = 'marketing.html';
    }
    function Prod(){
        window.location.href = 'produccion.html';
    }
    function Cont(){
        window.location.href = 'contabilidad.html';
    }
    function RRHH(){
        window.location.href = 'RRHH.html';
    }

</script>
{%endblock%}