{% extends './layout.html' %}

{%block title%} {{"Pizzeria Ave Phoenix"}} {%endblock%}

{%block body%}
<h1>Elija la acción a realizar</h1><br>
<div class = "botones">
    <label for="Tabla">Selecionar tabla:</label>

    <select id="Tabla" name = "Tabla" required>
        <option value="" disabled selected>Seleccione la tabla</option>
        <option value="CrearPromoción">CrearPromoción</option>
        <option value="ClienteRealizaPedido">ClienteRealizaPedido</option>
    </select><br><br>

    <button id = "boton7" onclick="Insertar()"><b>Insertar una tupla</b></button><br>
    <button id = "boton8" onclick="Eliminar()"><b>Eliminar una tupla</b></button><br>
    <button id = "boton9" onclick="Mostrar()"><b>Mostrar tablas</b></button><br>
</div>

<script>
    function Insertar(){
        var tablaSeleccionada = document.getElementById('Tabla').value;

        switch (tablaSeleccionada) {
            case 'CrearPromoción':
                window.location.href = 'caso7.html';
                break;
            case 'ClienteRealizaPedido':
                window.location.href = 'caso19.html';
                break;
            default:
                console.error('Tabla no reconocida');
                return;
        }
    }

    function Eliminar(){
        var tablaSeleccionada = document.getElementById('Tabla').value;

        switch (tablaSeleccionada) {
            case 'CrearPromoción':
                window.location.href = 'caso8.html';
                break;
            case 'ClienteRealizaPedido':
                window.location.href = 'caso20.html';
                break;
            default:
                console.error('Tabla no reconocida');
                return;
        }
    }

    function Mostrar(){
                var tablaSeleccionada = document.getElementById('Tabla').value;

        switch (tablaSeleccionada) {
            case 'CrearPromoción':
                window.location.href = 'caso9.html';
                break;
            case 'ClienteRealizaPedido':
                window.location.href = 'caso21.html';
                break;
            default:
                console.error('Tabla no reconocida');
                return;
        }
    }
</script>
{%endblock%}