{% extends './layout.html' %}

{%block title%} {{"Pizzeria Ave Phoenix"}} {%endblock%}

{%block body%}
<h1>Elija la acción a realizar</h1><br>
<div class = "botones">
    <button id = "boton1" onclick="caso4()"><b>Insertar una tupla</b></button><br>
    <button id = "boton2" onclick="caso5()"><b>Eliminar una tupla</b></button><br>
    <button id = "boton3" onclick="caso6()"><b>Mostrar tablas</b></button><br>
</div>

<script>
    function caso4(){
        window.location.href = 'caso4.html';
    }
    function caso5(){
        window.location.href = 'caso5.html';
    }
    function caso6(){
        window.location.href = 'caso6.html';
    }
</script>
{%endblock%}